.display{
    background-color: aquamarine;
    width: 200px;
    text-align: right;
    padding: 5px;
}
button{
    width: 45px;
    height: 30px;
    margin-top: 4px;
    background-color: burlywood;
    color: black;
}
